body {
    margin:0;
    padding:0;
}
.image-holder {
    background-image:url('../images/react-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width:140px;
    height:140px;
}